body {
    background-color: lightgray;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#navBar {
    background-color: white;
    padding: 15px;
    justify-content: baseline;
}
#title1 {
    color: red;
}
#title2 {
    color: green;
}
ul {
    list-style: none;
    display: inline;
}
ul li {
    display: inline;
}
#content {
    flex-direction: row;
}
#text {
    flex-direction: column;
    display: inline;
    height: 200px;
    width: 200px;
}
#text span {
    display: block;
}
img {
    height: 15%;
    width: 15%;
}